.container {
  background-color: #40454a;
  padding: 10px;
  border-radius: 2px;
}

.summary-container-content {
  margin-top: 10px;
}

.summary-container {
  display: flex;
  justify-content: space-between;
}

.total-price {
  margin-top: 40px;

  & > span {
    font-weight: 900;
  }
}

.total-value {
  color: #11df11;
  margin-left: 10px;
}

.summary-title {
  width: 160px;
}

@media (min-width: 1100px) {
  .summary-title {
    width: 100%;
  }
}

.paypal-wrapper {
  margin-top: 10px;
}

.cash {
  margin-top: 10px;
  width: 100%;
}
