<div class="container">
  <div class="container-title">
    <h2>Cart Summary</h2>
  </div>
  <div class="summary-container-content">
    <div class="total-products summary-container">
      <span class="summary-title">Total products: </span>
      <span>{{ cart.totalQuantity }}x</span>
    </div>
    <div class="total-shipping summary-container">
      <span class="summary-title">Shipping: </span>
      <span>0$</span>
    </div>
    <div class="total-price summary-container">
      <span class="total-title">Total: </span>
      <span class="total-value">{{ cart.totalPrice.toFixed(2) }}$</span>
    </div>
    <button class="primary-btn cash">Pay with cash</button>
    <button (click)="onTestOrder()">test order</button>
    <div class="paypal-wrapper">
      <div #paypal></div>
    </div>
  </div>
</div>
