<div class="wrapper">
  <div class="container">
    <div class="dashboard-menu">
      <ul class="dashboard-menu-list">
        <li *ngIf="isAdmin" class="dashboard-menu-list-item">
          <div class="menu-item" (click)="onNavigate('products')">
            <img src="/assets/box.png" alt="" class="logo" />
            <span class="name">Products</span>
          </div>
        </li>
        <li *ngIf="isAdmin" class="dashboard-menu-list-item">
          <div class="menu-item" (click)="onNavigate('products/new')">
            <img src="/assets/box.png" alt="" class="logo" />
            <span class="name">Create Product</span>
          </div>
        </li>
        <li *ngIf="isAdmin" class="dashboard-menu-list-item">
          <div class="menu-item" (click)="onNavigate('product-categories')">
            <img src="/assets/box.png" alt="" class="logo" />
            <span class="name">Product Categories</span>
          </div>
        </li>
        <li *ngIf="isAdmin" class="dashboard-menu-list-item">
          <div class="menu-item" (click)="onNavigate('product-categories/new')">
            <img src="/assets/box.png" alt="" class="logo" />
            <span class="name">New Product Category</span>
          </div>
        </li>
        <li *ngIf="isAdmin" class="dashboard-menu-list-item">
          <div class="menu-item" (click)="onNavigate('orders')">
            <img src="/assets/box.png" alt="" class="logo" />
            <span class="name">Orders</span>
          </div>
        </li>
        <li *ngIf="!isAdmin" class="dashboard-menu-list-item">
          <div class="menu-item" (click)="onNavigate('my-orders')">
            <img src="/assets/box.png" alt="" class="logo" />
            <span class="name">My orders</span>
          </div>
        </li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
