// * {
//   color: gray;
// }

.container {
  background-color: #40454a;
  border-radius: 2px;
  margin-bottom: 2rem;
  padding: 10px;
}

.user-name {
  margin-top: 5px;
}

.text-secondary {
  color: #969696;
}

.primary-color {
  color: #069a06;
}

li {
  margin-left: 20px;
  margin-top: 10px;
}

.summary-container {
  margin-top: 20px;
}
