.wrapper {
    margin: 30px auto;
    width: 90%;
  }
  
  .back-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    width: fit-content;
  }
  
  .logo {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    margin-right: 5px;
  }
  