.container {
  max-width: 1000px;
  border-radius: 2px;
}

app-cart-item:last-child {
  border: none;
}

.no-products-label {
  font-size: 18px;
}

.basic-link {
  color: #11df11;

  &:hover {
    text-decoration: underline;
  }
}
