.wrapper {
  width: 90%;
  max-width: 400px;
  margin: 30px auto;
}

.login-wrapper {
  background-color: #40454A;
  padding: 10px;
}

.form-control {
  margin-top: 10px;

  &:first-child {
    margin: 0;
  }
}

.form-actions {
  margin-top: 25px;
}

.primary-btn {
  width: 100%;
}
