.wrapper {
  width: 90%;
  margin: 30px auto;
}

.product-list-wrapper {
  margin-top: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  justify-content: center;
  gap: 20px;
}

.product-list-item {
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .product-list {
    justify-content: left;
  }
}
