.wrapper {
  width: 90%;
  margin: 30px auto;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    display: flex;
  }

  .category-list {
    width: 15%;
  }

  .product-list {
    width: 85%;
  }
}
