<nav class="nav-bar-container">
  <div class="logo">FOODEE.</div>
  <div class="nav-links-container" [ngClass]="{'sidebar-open': isSidebarOpen}">
    <ul class="nav-links-list">
      <li class="nav-link-wrapper">
        <a routerLink="/menu" class="nav-link">MENU</a>
      </li>
      <li class="nav-link-wrapper">
        <a href="#" class="nav-link">EVENTS</a>
      </li>
      <li class="nav-link-wrapper">
        <a href="#" class="nav-link">ABOUT</a>
      </li>
      <li class="nav-link-wrapper">
        <a href="#" class="nav-link">CONTACT</a>
      </li>
    </ul>
    <ul class="auth-nav-links-list">
      <li class="nav-link-wrapper">
        <a routerLink="/registration" class="nav-link">REGISTER</a>
      </li>
      <li class="nav-link-wrapper">
        <button class="primary-btn">LOGIN</button>
      </li>
    </ul>
  </div>
  <div class="hamburger-wrapper" (click)="onToggleSidebar()" [ngClass]="{'hamburger-open': isSidebarOpen}">
    <div class="hamburger-container">
      <div class="hamburger-line"></div>
      <div class="hamburger-line"></div>
      <div class="hamburger-line"></div>
    </div>
  </div>
</nav>
