<li class="product-item">
  <div class="product-item-container">
    <div class="image-wrapper">
      <img
        class="product-image"
        src="{{ product.imageData.imageUrl }}"
        alt=""
      />
    </div>
    <div class="product-info-container">
      <div class="product-info-container-header">
        <h2 class="product-name">{{ product.name }}</h2>
        <h3 class="product-price">{{ product.price }}$</h3>
      </div>

      <ul class="ingredient-list">
        <li
          *ngFor="let ingredient of product.basicIngredients"
          class="ingredient-item"
        >
          <span class="ingredient-name">{{ ingredient }}</span>
        </li>
      </ul>
      <div class="product-actions">
        <button class="primary-btn" (click)="onAddProductToCart()">Cart</button>
        <div class="link-wrapper">
          <a class="basic-link" routerLink="/product/{{ product._id }}">Show</a>
        </div>
      </div>
    </div>
  </div>
</li>
